name: flutterbase
description: "A new Flutter project."
publish_to: "none"

version: 1.0.0+1

environment:
    sdk: ^3.11.0

dependencies:
    flutter:
        sdk: flutter

    # UI & Icons
    cupertino_icons: ^1.0.8
    google_fonts: ^7.0.0
    animations: ^2.0.0
    shimmer: ^3.0.0
    cached_network_image: ^3.4.0

    # State Management (Riverpod)
    riverpod: ^2.5.0
    flutter_riverpod: ^2.5.0
    riverpod_generator: ^2.3.0

    # Routing & Navigation
    go_router: ^14.0.0

    # QR Code
    qr_flutter: ^4.1.0
    mobile_scanner: ^5.0.0

    # Local Storage
    shared_preferences: ^2.3.0
    flutter_secure_storage: ^9.0.0

    # Networking & API
    dio: ^5.4.0
    pretty_dio_logger: ^1.3.1

    # Device & Permissions
    device_info_plus: ^11.0.0
    connectivity_plus: ^6.0.0
    permission_handler: ^11.4.0

    # Data Classes
    freezed_annotation: ^2.4.1

    # Utilities
    intl: ^0.19.0
    uuid: ^4.1.0
    logger: ^2.1.0

dev_dependencies:
    flutter_test:
        sdk: flutter

    flutter_lints: ^6.0.0

    # Code Generation
    build_runner: ^2.4.6
    freezed: ^2.4.5
    json_serializable: ^6.7.1
    riverpod_generator: ^2.3.0
    retrofit_generator: ^8.1.0

# For information on the generic Dart part of this file, see the
# following page: https://dart.dev/tools/pub/pubspec

# The following section is specific to Flutter packages.
flutter:
    # The following line ensures that the Material Icons font is
    # included with your application, so that you can use the icons in
    # the material Icons class.
    uses-material-design: true

    # To add assets to your application, add an assets section, like this:
    # assets:
    #   - images/a_dot_burr.jpeg
    #   - images/a_dot_ham.jpeg

    # An image asset can refer to one or more resolution-specific "variants", see
    # https://flutter.dev/to/resolution-aware-images

    # For details regarding adding assets from package dependencies, see
    # https://flutter.dev/to/asset-from-package

    # To add custom fonts to your application, add a fonts section here,
    # in this "flutter" section. Each entry in this list should have a
    # "family" key with the font family name, and a "fonts" key with a
    # list giving the asset and other descriptors for the font. For
    # example:
    # fonts:
    #   - family: Schyler
    #     fonts:
    #       - asset: fonts/Schyler-Regular.ttf
    #       - asset: fonts/Schyler-Italic.ttf
    #         style: italic
    #   - family: Trajan Pro
    #     fonts:
    #       - asset: fonts/TrajanPro.ttf
    #       - asset: fonts/TrajanPro_Bold.ttf
    #         weight: 700
    #
    # For details regarding fonts from package dependencies,
    # see https://flutter.dev/to/font-from-package
